kvfinder-web.cnpem.br {
	# tls cert.pem key.pem
	tls /etc/ssl/certs/cnpem.br_chain.crt /etc/ssl/private/cnpem.br_nopass.key {
		protocols tls1.2 tls1.3
		ciphers TLS_ECDHE_ECDSA_WITH_AES_128_GCM_SHA256 TLS_ECDHE_RSA_WITH_AES_128_GCM_SHA256 TLS_ECDHE_ECDSA_WITH_AES_256_GCM_SHA384 TLS_ECDHE_RSA_WITH_AES_256_GCM_SHA384 TLS_ECDHE_ECDSA_WITH_CHACHA20_POLY1305_SHA256 TLS_ECDHE_RSA_WITH_CHACHA20_POLY1305_SHA256	
	}
	handle_path /api* {
		reverse_proxy kv-server:8081
	}

	handle {
		reverse_proxy kv-portal:3838
	}
}
